<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HubRecipes.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block headerblock %}
                <div class="container">

                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">HubRecipes.com</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a data-toggle="modal" data-target=".bs-example-modal-sm">Choose your emotion</a></li>
                                <li id="open-search"><a>Search</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Create an account</a></li>
                                <li><a href="#">Sign in</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                </div>
            {#<div class="page-header">
                <h1>
                    {% block pageheader %} {{ block('title') }} {% endblock %}
                    <small>{% block subheader %}{{ 'somthing unique' | trans  }} {% endblock %}</small>
                </h1>
            </div>#}
                <div class="container">
                    <div class="search-form" hidden>
                        <form role="form" action=" {{ path('results') }}" method="get" >
                            <div class="flavors">
                                <h5 class="text-center">Choose yours flavors</h5>
                                <div class="row">
                                    <div class="col-md-4">Sour</div>
                                    <div class="col-md-4">Salty</div>
                                    <div class="col-md-4">Sweet</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input name="Sour" id="Sour" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Salty" id="Salty" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Sweet" id="Sweet" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Spicy</div>
                                    <div class="col-md-4">Bitter</div>
                                    <div class="col-md-4">Savory</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input name="Spicy" id="Spicy" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Bitter" id="Bitter" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Savory" id="Savory" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Time</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input name="Time" id="Time" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="16" data-slider-step="1" data-slider-value="0"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5 class="text-left type">Choose Type:</h5>
                                    <select name="Type" id="type" class="form-control">
                                        <option>-</option>
                                        <option value="Main%20Dishes">Main Dishes</option>
                                        <option>Cocktails</option>
                                        <option>Desserts</option>
                                        <option value="Lunch%20and%20Snacks">Lunch and Snacks</option>
                                        <option value="Breakfast%20and%20Brunch">Breakfast and Brunch</option>
                                        <option>Beverages</option>
                                        <option>Salads</option>
                                        <option>Soups</option>
                                        <option>Breads</option>
                                        <option value="Side%20Dishes">Side Dishes</option>
                                        <option>Appetizers</option>
                                        <option value="Condiments%20and%20Sauces">Condiments and Sauces</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="text-left type">With Ingredients:</h5>
                            <div class="row">
                                <div id="ing" class="form-inline col-md-3  input-group-sm">
                                    <input id="ing" name="likeIngredients[]" type="text" class="form-control" autocomplete="off">
                                    <button style="margin-left: 3.5px" id="add-ing" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </div>
                            </div>
                            <h5 class="text-left type">Without Ingredients:</h5>
                            <div class="row">
                                <div id="no-ing" class="form-inline col-md-3  input-group-sm">
                                    <input id="no-ing" name="unlikeIngredients[]" type="text" class="form-control" autocomplete="off">
                                    <button style="margin-left: 3.5px" id="add-no-ing" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                            <button id="up-search" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-up"></span></button>
                        </form>
                    </div>
                </div>

            {% endblock %}
            {% block content %}
                <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                            <div class="caption">
                                <h3>Label</h3>
                                <p>short description</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                            <div class="caption">
                                <h3>Label</h3>
                                <p>short description</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                            <div class="caption">
                                <h3>Label</h3>
                                <p>short description</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                            <div class="caption">
                                <h3>Label</h3>
                                <p>short description</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                                <div class="caption">
                                    <h3>Label</h3>
                                    <p>short description</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                                <div class="caption">
                                    <h3>Label</h3>
                                    <p>short description</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                                <div class="caption">
                                    <h3>Label</h3>
                                    <p>short description</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="http://lh3.ggpht.com/3mrCi4GzhI75_GpuGPApplVPP9vEqsUnURhlFI361PmTaNS570dnvjT8iwaHdixUPXTbdTC2XbJsc_Ob6-oq=s230-c" alt="...">
                                <div class="caption">
                                    <h3>Label</h3>
                                    <p>short description</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                    <ul class="pagination ">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                    </div>
                </div>

                {% block travelModal %}

                    <div id="travelModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Where do you want to travel today?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row center-block">
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-american'}) }}"><img src="{{ asset('img/americanCuisine.jpg') }}" class="img-thumbnail" alt="America"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-chinese'}) }}"><img src="{{ asset('img/chineseCuisine.jpg') }}" class="img-thumbnail" alt="China"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-english'}) }}"><img src="{{ asset('img/englishCuisine.jpg') }}" class="img-thumbnail" alt="England"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-french'}) }}"><img src="{{ asset('img/frenchCuisine.jpg') }}" class="img-thumbnail" alt="France"></a>
                                        </div>
                                        <div class="row center-block">
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-german'}) }}"><img src="{{ asset('img/germanCuisine.jpg') }}" class="img-thumbnail"  alt="Germany"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-greek'}) }}"><img src="{{ asset('img/greekCuisine.jpg') }}" class="img-thumbnail" alt="Greece"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-indian'}) }}"><img src="{{ asset('img/indianCuisine.jpg') }}" class="img-thumbnail" alt="India"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-irish'}) }}"><img src="{{ asset('img/irishCuisine.jpg') }}" class="img-thumbnail" alt="Ireland"></a>
                                        </div>
                                        <div class="row center-block">
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-italian'}) }}"><img src="{{ asset('img/italianCuisine.jpg') }}" class="img-thumbnail"  alt="Italy"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-mexican'}) }}"><img src="{{ asset('img/mexicanCuisine.jpg') }}" class="img-thumbnail" alt="Mexico"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-spanish'}) }}"><img src="{{ asset('img/spanishCuisine.jpg') }}" class="img-thumbnail" alt="Spain"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-thai'}) }}"><img src="{{ asset('img/thaiCuisine.jpg') }}" class="img-thumbnail" alt="Thailand"></a>
                                        </div>
                                        <div class="row center-block">
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-hawaiian'}) }}"><img src="{{ asset('img/hawaiianCuisine.jpg') }}" class="img-thumbnail"  alt="Hawaii"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-japanese'}) }}"><img src="{{ asset('img/japaneseCuisine.jpg') }}" class="img-thumbnail" alt="Japan"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-moroccan'}) }}"><img src="{{ asset('img/moroccanCuisine.jpg') }}" class="img-thumbnail" alt="Morocco"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-cuban'}) }}"><img src="{{ asset('img/cubanCuisine.jpg') }}" class="img-thumbnail" alt="Cuba"></a>
                                        </div>
                                        <div class="row center-block">
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-swedish'}) }}"><img src="{{ asset('img/swedishCuisine.jpg') }}" class="img-thumbnail"  alt="Sweden"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-portuguese'}) }}"><img src="{{ asset('img/portugeseCuisine.jpg') }}" class="img-thumbnail" alt="Portugal"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-hungarian'}) }}"><img src="{{ asset('img/hungarianCuisine.jpg') }}" class="img-thumbnail" alt="Hungary"></a>
                                            <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-mediterranean'}) }}"><img src="{{ asset('img/mediterraneanCuisine.jpg') }}" class="img-thumbnail" alt="Mediterranean"></a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                {% endblock %}
                {% block emotionModal %}
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">How are you?</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <a href="#"><img src="{{ asset('img/happy.png') }}" class="img-thumbnail img-responsive" alt="Happy" title="Happy"></a>
                                    <a href="#"><img src="{{ asset('img/surprised.png') }}" class="img-thumbnail img-responsive" alt="Surprised" title="Surprised"></a>
                                    <a href="#"><img src="{{ asset('img/sad.png') }}" class="img-thumbnail img-responsive" alt="Sad" title="Sad"></a>
                                    <a href="#"><img src="{{ asset('img/angry.png') }}" class="img-thumbnail img-responsive" alt="Angry" title="Angry"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endblock %}
        {% endblock %}



        {% block javascripts %}
            <script type="application/javascript" src="{{ asset('js/all.js') }}"></script>
        {% endblock %}
    </body>
</html>
