<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HubRecipes.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block headerblock %}
                <div class="container">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">HubRecipes.com</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li id="emotion"><a data-toggle="modal" data-target=".bs-example-modal-sm">Choose your emotion</a></li>
                                    <li id="open-search"><a>Search</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Register</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }} <i class="glyphicon glyphicon-log-out"></i></a></li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% endif %}
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            {#<div class="page-header">
                <h1>
                    {% block pageheader %} {{ block('title') }} {% endblock %}
                    <small>{% block subheader %}{{ 'somthing unique' | trans  }} {% endblock %}</small>
                </h1>
            </div>#}
                <div class="container">
                    <div class="search-form" hidden>
                        <form role="form" action=" {{ path('results') }}" method="get" >
                            <div class="flavors">
                                <h5 class="text-center">Choose yours flavors</h5>
                                <div class="row">
                                    <div class="col-md-4">Sour</div>
                                    <div class="col-md-4">Salty</div>
                                    <div class="col-md-4">Sweet</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input name="Sour" id="Sour" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Salty" id="Salty" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Sweet" id="Sweet" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Spicy</div>
                                    <div class="col-md-4">Bitter</div>
                                    <div class="col-md-4">Savory</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input name="Spicy" id="Spicy" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Bitter" id="Bitter" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="Savory" id="Savory" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.5"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Time</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input name="Time" id="Time" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="120" data-slider-step="1" data-slider-value="0"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5 class="text-left type">Choose Type:</h5>
                                    <select name="Type" id="type" class="form-control">
                                        <option>-</option>
                                        <option value="Main%20Dishes">Main Dishes</option>
                                        <option>Cocktails</option>
                                        <option>Desserts</option>
                                        <option value="Lunch%20and%20Snacks">Lunch and Snacks</option>
                                        <option value="Breakfast%20and%20Brunch">Breakfast and Brunch</option>
                                        <option>Beverages</option>
                                        <option>Salads</option>
                                        <option>Soups</option>
                                        <option>Breads</option>
                                        <option value="Side%20Dishes">Side Dishes</option
                                        <option>Appetizers</option>
                                        <option value="Condiments%20and%20Sauces">Condiments and Sauces</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <h5 class="text-left type">Choose Cuisine:</h5>
                                    <select name="Cuisine" id="Cuisine" class="form-control">
                                        <option>-</option>
                                        <option value="cuisine^cuisine-american">American</option>
                                        <option value="cuisine^cuisine-chinese">Chinese</option>
                                        <option value="cuisine^cuisine-english">English</option>
                                        <option value="cuisine^cuisine-french">French</option>
                                        <option value="cuisine^cuisine-german">German</option>
                                        <option value="cuisine^cuisine-greek">Greek</option>
                                        <option value="cuisine^cuisine-indian">Indian</option>
                                        <option value="cuisine^cuisine-irish">Irish</option>
                                        <option value="cuisine^cuisine-italian">Italian</option>
                                        <option value="cuisine^cuisine-mexican">Mexican</option
                                        <option value="cuisine^cuisine-spanish">Spanish</option>
                                        <option value="cuisine^cuisine-thai">Thai</option>
                                        <option value="cuisine^cuisine-hawaiian">Hawaiian</option>
                                        <option value="cuisine^cuisine-japanese">Japanese</option>
                                        <option value="cuisine^cuisine-moroccan">Moroccan</option>
                                        <option value="cuisine^cuisine-cuban">Cuban</option>
                                        <option value="cuisine^cuisine-swedish">Swedish</option>
                                        <option value="cuisine^cuisine-portuguese">Portuguese</option>
                                        <option value="cuisine^cuisine-hungarian">Hungarian</option>
                                        <option value="cuisine^cuisine-mediterranean">Mediterranean</option>
                                    </select>
                                </div>
                            </div>
                            <h5 class="text-left type">With Ingredients:</h5>
                            <div id="ing-row" class="row">
                                <div id="ing" class="form-inline col-md-3 input-group-sm">
                                    <input id="ing" name="likeIngredients[]" type="text" class="form-control"  placeholder="Ingredient" autocomplete="off">
                                    <button id="add-ing" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </div>
                            </div>
                            <h5 class="text-left type">Without Ingredients:</h5>
                            <div id="no-ing-row" class="row">
                                <div id="no-ing" class="form-inline col-md-3 input-group-sm">
                                    <input id="no-ing" name="unlikeIngredients[]" type="text" class="form-control" autocomplete="off" placeholder="Ingredient">
                                    <button id="add-no-ing" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12" style="text-align:center">
                                    <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"> Search</span></button>
                                </div>
                                <div class="span12" style="text-align:right">
                                    <button id="up-search" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-up"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            {% endblock %}
            {% block content %}
                <div class="container">
                        {% if response.matches|length > 0 %}
                            {% for recipe in response.matches %}
                                {% if (loop.index - 1) %4 == 0 or loop.index == 1 %}
                                    <div class="row">
                                {% endif %}
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        {% set replace_value_var= 's90' %}
                                        {% set replace_with_value_var = 's360' %}
                                        <a href="{{ path('single_recipe', {'id': recipe.id }) }}"><img src="{{ recipe.imageUrlsBySize['90']|replace({ (replace_value_var): replace_with_value_var }) }}" alt="{{ recipe.recipeName }}"></a>
                                        <div class="caption">
                                            <a class="rec-name" href="{{ path('single_recipe', {'id': recipe.id }) }}"> <h4>{{ recipe.recipeName }}</h4></a>
                                            <div>
                                                {% for ingredient in recipe.ingredients %}
                                                    {% if not loop.last %}
                                                        {{ ingredient ~ ', ' }}
                                                    {% else %}
                                                        {{ ingredient ~ '.' }}
                                                    {% endif %}
                                                {%  endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index %4 == 0 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="text-center">
                                <h4>No results...</h4>
                            </div>
                        {% endif %}
                    {% if response.matches|length > 1 %}
                        <div id="load" class="row">
                            <div id="load-more-div" class="span12" style="text-align:center">
                                <a id="load-more" class="btn btn-large btn-primary" name="home">Load more</a>
                            </div>
                            <div id="preloader" class="span12" style="text-align:center" hidden>
                                <img src="{{ asset('img/712.GIF') }}" alt="preloder">
                            </div>
                        </div>
                    {% endif %}
                    <a href="#top" id="toTop"></a>
                    </div>

                {% block travelModal %}
                    <div id="travelModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Where do you want to travel today?</h4>
                                </div>
                                <div class="modal-body">
                                    <div >
                                        <div class="row center-block">
                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-american', 'start': 0}) }}">

                                                        <p>America</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-american', 'start': 0}) }}">
                                                    <img src="{{ asset('img/americanCuisine.jpg') }}" class="img-thumbnail" alt="America" title="America">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-chinese', 'start': 0}) }}">

                                                        <p>China</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-chinese', 'start': 0}) }}">
                                                    <img src="{{ asset('img/chineseCuisine.jpg') }}" class="img-thumbnail" alt="China" title="China">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-english', 'start': 0}) }}">

                                                        <p>England</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-english', 'start': 0}) }}">
                                                    <img src="{{ asset('img/englishCuisine.jpg') }}" class="img-thumbnail" alt="England" title="England">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-french', 'start': 0}) }}">

                                                        <p>France</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-french', 'start': 0}) }}">
                                                    <img src="{{ asset('img/frenchCuisine.jpg') }}" class="img-thumbnail" alt="France" title="France">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="row center-block">

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-german', 'start': 0}) }}">

                                                        <p>Germany</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-german', 'start': 0}) }}">
                                                    <img src="{{ asset('img/germanCuisine.jpg') }}" class="img-thumbnail"  alt="Germany" title="Germany">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-greek', 'start': 0}) }}">

                                                        <p>Greece</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-greek', 'start': 0}) }}">
                                                    <img src="{{ asset('img/greekCuisine.jpg') }}" class="img-thumbnail" alt="Greece" title="Greece">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-indian', 'start': 0}) }}">

                                                        <p>India</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-indian', 'start': 0}) }}">
                                                    <img src="{{ asset('img/indianCuisine.jpg') }}" class="img-thumbnail" alt="India" title="India">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-irish', 'start': 0}) }}">

                                                        <p>Ireland</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-irish', 'start': 0}) }}">
                                                    <img src="{{ asset('img/irishCuisine.jpg') }}" class="img-thumbnail" alt="Ireland" title="Ireland">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="row center-block">

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-italian', 'start': 0}) }}">

                                                        <p>Italy</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-italian', 'start': 0}) }}">
                                                    <img src="{{ asset('img/italianCuisine.jpg') }}" class="img-thumbnail"  alt="Italy" title="Italy">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-mexican', 'start': 0}) }}">

                                                        <p>Mexico</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-mexican', 'start': 0}) }}">
                                                    <img src="{{ asset('img/mexicanCuisine.jpg') }}" class="img-thumbnail" alt="Mexico" title="Mexico">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-spanish', 'start': 0}) }}">

                                                        <p>Spain</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-spanish', 'start': 0}) }}">
                                                    <img src="{{ asset('img/spanishCuisine.jpg') }}" class="img-thumbnail" alt="Spain" title="Spain">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-thai', 'start': 0}) }}">

                                                        <p>Thailand</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-thai', 'start': 0}) }}">
                                                    <img src="{{ asset('img/thaiCuisine.jpg') }}" class="img-thumbnail" alt="Thailand" title="Thailand">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="row center-block">

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-hawaiian', 'start': 0}) }}">

                                                        <p>Hawaii</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-hawaiian', 'start': 0}) }}">
                                                    <img src="{{ asset('img/hawaiianCuisine.jpg') }}" class="img-thumbnail"  alt="Hawaii" title="Hawaii">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-japanese', 'start': 0}) }}">

                                                        <p>Thailand</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-japanese', 'start': 0}) }}">
                                                    <img src="{{ asset('img/japaneseCuisine.jpg') }}" class="img-thumbnail" alt="Japan" title="Japan">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-moroccan', 'start': 0}) }}">

                                                        <p>Morocco</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-moroccan', 'start': 0}) }}">
                                                    <img src="{{ asset('img/moroccanCuisine.jpg') }}" class="img-thumbnail" alt="Morocco" title="Morocco">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-cuban', 'start': 0}) }}">

                                                        <p>Cuba</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-cuban', 'start': 0}) }}">
                                                    <img src="{{ asset('img/cubanCuisine.jpg') }}" class="img-thumbnail" alt="Cuba" title="Cuba">

                                                </a>
                                            </div>
                                        </div>
                                        <div class="row center-block">

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-swedish', 'start': 0}) }}">

                                                        <p>Sweden</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-swedish', 'start': 0}) }}">
                                                    <img src="{{ asset('img/swedishCuisine.jpg') }}" class="img-thumbnail"  alt="Sweden" title="Sweden">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-portuguese', 'start': 0}) }}">

                                                        <p>Portugal</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-portuguese', 'start': 0}) }}">
                                                    <img src="{{ asset('img/portugeseCuisine.jpg') }}" class="img-thumbnail" alt="Portugal" title="Portugal">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-hungarian', 'start': 0}) }}">

                                                        <p>Hungary</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-hungarian', 'start': 0}) }}">
                                                    <img src="{{ asset('img/hungarianCuisine.jpg') }}" class="img-thumbnail" alt="Hungary" title="Hungary">

                                                </a>
                                            </div>

                                            <div class="country col-md-3">
                                                <div class="countryName">
                                                    <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-mediterranean', 'start': 0}) }}">

                                                        <p>Mediterranean</p><div class="overlay"></div>
                                                    </a>
                                                </div>
                                                <a href="{{ path('by_Cuisine',{'cuisine':'cuisine^cuisine-mediterranean', 'start': 0}) }}">
                                                    <img src="{{ asset('img/mediterraneanCuisine.jpg') }}" class="img-thumbnail" alt="Mediterranean" title="Mediterranean">

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!--random comment-->
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endblock %}
        {% endblock %}

        {% block emotionModal %}
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">How are you?</h4>
                        </div>
                        <div class="modal-body text-center">
                            <a href="#"><img src="{{ asset('img/happy.png') }}" class="img-thumbnail" alt="Happy" title="Happy"></a>
                            <a href="#"><img src="{{ asset('img/surprised.png') }}" class="img-thumbnail" alt="Surprised" title="Surprised"></a>
                            <a href="#"><img src="{{ asset('img/sad.png') }}" class="img-thumbnail" alt="Sad" title="Sad"></a>
                            <a href="#"><img src="{{ asset('img/angry.png') }}" class="img-thumbnail" alt="Angry" title="Angry"></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script type="application/javascript">
                var existsUrl, autoCompleteUrl, loadMoreUrl, loadMoreHomePageItemsUrl, baseUrl;
                existsUrl = '{{ path('exists') }}';
                autoCompleteUrl = '{{ path('autoComplete') }}';
                loadMoreUrl = '{{ path('loadMoreItems') }}';
                loadMoreHomePageItemsUrl = '{{ path('loadMoreHomePage') }}';
                baseUrl = '{{ url('hub_recipes_front_end_homepage') }}';
            </script>
            <script type="application/javascript" src="{{ asset('js/all.js') }}"></script>
        {% endblock %}
    </body>
</html>
