{% extends '::base.html.twig' %}
{% block pageheader %} {{ parent() }} {{ 'home page' | trans }}
{% endblock %}
{% block content %}
    <div class="container">
        <h2>My Favourites</h2>
        <div class="row">
            {% if response|length > 0 %}
            {% for recipe in response %}
                {% if loop.index %4 == 0  %}
                    <div class="row">
                {% endif %}
                <div class="col-xs-6 col-md-3 favItem">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="remFav"><a href="{{ path('remove-from-favourites',{'recipeId': recipe.recipeId }) }}"><span class="glyphicon glyphicon-remove-sign"></span></a></div> <!--remFav-->
                            <div class="favName"><a href="{{ path('single_recipe', {'id': recipe.recipeId }) }}"><p>{{ recipe.name }}</p><div class="overlay"></div></a></div><!--favName-->
                            <a href="{{ path('single_recipe', {'id': recipe.recipeId }) }}" class="thumbnail">
                                <img src="{{ recipe.photoUrl }}" data-src="holder.js/100%x180" alt="{{ recipe.name }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% if loop.index %4 == 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            {% else %}
                <div class="text-center">
                    <h4>This list is empty...</h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}