
{% extends '::base.html.twig' %}
{% block pageheader %} {{ parent() }} {{ 'home page' | trans }}
{% endblock %}
{% block headerblock %} {{ parent() }} {% endblock %}

{% block content %}
<div class="container">
        {% if results.matches|length > 0 %}
        {% for recipe in results.matches %}
            {% if (loop.index - 1) %4 == 0 or loop.index == 1 %}
                <div id="recipes" class="row">
            {% endif %}

            <div class="col-xs-6 col-md-3 favItem">
                <div class="row recipe">
                    <div class="col-md-12">
                        {% set replace_value_var= 's90' %}
                        {% set replace_with_value_var = 's360' %}
                        <div class="favName"><a href="{{ path('single_recipe', {'id': recipe.id }) }}"><p>{{ recipe.recipeName }}</p><div class="overlay"></div></a></div><!--favName-->
                        <a href="{{ path('single_recipe', {'id': recipe.id }) }}" class="thumbnail">
                            <img src="{{ recipe.imageUrlsBySize['90']|replace({ (replace_value_var): replace_with_value_var }) }}" data-src="holder.js/100%x180" alt="{{ recipe.recipeName }}">
                        </a>
                    </div>
                    <a href="{{ path('single_recipe', {'id': recipe.id }) }}" ><div class="ingredientList">
                        {% for ingredient in recipe.ingredients %}
                            {% if not loop.last %}
                                {{ ingredient ~ ', ' }}
                            {% else %}
                                {{ ingredient ~ '.' }}
                            {% endif %}
                        {%  endfor %}
                    </div></a>
                </div>
            </div>

            {% if loop.index %4 == 0 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
        {% else %}
            <div class="text-center">
                <h4>No results...</h4>
            </div>
        {% endif %}

    {% if results.matches|length > 1 %}
    <div id="load" class="row">
        <div id="load-more-div" class="span12" style="text-align:center">
            <a id="load-more" class="btn btn-large btn-custom-darken">Load more</a>
        </div>
        <div id="preloader" class="span12" style="text-align:center" hidden>
            <img src="{{ asset('img/712.GIF') }}" alt="preloder">
        </div>
    </div>
    {% endif %}
    <a href="#top" id="toTop"></a>
</div>
{% endblock %}

{% block emotionModal %}
    {{ parent() }}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var sour, salty, sweet, spicy, bitter, savory, timee, typeS, likeI, cuisine, happy, sad, angry, surprised;
        sour = "{{ Sour }}";
        salty = "{{ Salty }}";
        sweet = "{{ Sweet }}";
        spicy = "{{ Spicy }}";
        bitter = "{{ Bitter }}";
        savory = "{{ Savory }}";
        timee = "{{ Time }}";
        typeS = "{{ Type }}";
        cuisine = "{{ Cuisine }}";
        likeI = {{ likeI|json_encode|raw }};
        unlikeI = {{ unlikeI|json_encode|raw}};
        happy = "{{ path('by_Emotion_load_more',{'emotion': 'happy'}) }}";
        sad = "{{ path('by_Emotion_load_more',{'emotion': 'sad'}) }}";
        angry = "{{ path('by_Emotion_load_more',{'emotion': 'angry'}) }}";
        surprised = "{{ path('by_Emotion_load_more',{'emotion': 'surprised'}) }}";
    </script>
{% endblock %}
