
{% extends '::base.html.twig' %}
{% block pageheader %} {{ parent() }} {{ 'home page' | trans }}
{% endblock %}
{% block headerblock %} {{ parent() }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if results.matches|length > 1 %}
        {% for recipe in results.matches %}
            {% if loop.index %4 == 0  %}
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                <div class="thumbnail">
                    {% set replace_value_var= 's90' %}
                    {% set replace_with_value_var = 's360' %}
                    <a href="{{ path('single_recipe', {'id': recipe.id }) }}"><img src="{{ recipe.imageUrlsBySize['90']|replace({ (replace_value_var): replace_with_value_var }) }}" alt="{{ recipe.recipeName }}"></a>
                    <div class="caption">
                        <a href="{{ path('single_recipe', {'id': recipe.id }) }}"> <h5>{{ recipe.recipeName }}</h5></a>
                        <div>
                            {% for ingredient in recipe.ingredients %}
                            {{ ingredient }}
                            {%  endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index %4 == 0 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
        {% else %}
            <div class="text-center">
                <h4>No results...</h4>
            </div>
        {% endif %}
    </div>
    {% if results.matches|length > 1 %}
    <div id="load" class="row">
        <div class="span12" style="text-align:center">
            <a id="load-more" class="btn btn-large btn-primary">Load more</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block emotionModal %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var sour, salty, sweet, spicy, bitter, savory, timee, typeS, likeI, cuisine;
        sour = "{{ Sour }}";
        salty = "{{ Salty }}";
        sweet = "{{ Sweet }}";
        spicy = "{{ Spicy }}";
        bitter = "{{ Bitter }}";
        savory = "{{ Savory }}";
        timee = "{{ Time }}";
        typeS = "{{ Type }}";
        cuisine = "{{ Cuisine }}";
        likeI = {{ likeI|json_encode|raw }};
        unlikeI = {{ unlikeI|json_encode|raw}}
    </script>
{% endblock %}
